*.db
*.deb
*.lnk
*.db:encryptable
*.deb
*.cdl
.~lock*
*.cpu.sym
*.smp.sym
*.zs*
*.bst
*.log
*.cht
*-apuram.bin
*-cgram.bin
*-oam.bin
*-vram.bin
*-usage.bin
*-wram.bin
*-usage.bin
*-sram.bin
*.srm
*.SRM
*trace.log
*.bp
*.sfc
*.sfc.blanked
*.smc
*.srm
*.zip
**/*_files
*:Zone.Identifier
